body{
  font-family: arial;
  background-color: black;
  color: white;
}

.apertado{
  background-color: gray;
  color: white;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
}

#criar{
  
}

#parar{
  
}